<!doctype html>
<html lang="en">

<head>
    <title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/styleLogin.css">

</head>

<body class="img js-fullheight" style="background-image: url(/img/bg.jpg);">
    <section class="ftco-section d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Tạo tài khoản</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h5 class="mb-4 text-center">Quản lý vùng trồng</h5>
                        <form action="/user/register" method="POST" class="signin-form" id="form-1">
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" id="username"
                                    placeholder="Tên đăng nhập">
                                <span class="form-message" id=""></span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                                <span class="form-message" id=""></span>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control"
                                    placeholder="Mật khẩu">
                                <span class="form-message" id=""></span>
                            </div>
                            <div class="form-group">
                                <input type="password" id="confirmation" id="confirmation" class="form-control"
                                    placeholder="Nhập lại mật khẩu">
                                <span class="form-message" id=""></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Đăng ký</button>
                            </div>
                            <div class="form-group text-center " >
                                <div id="message" style="color: rgb(255, 255, 255);"></div>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="/user/login" style="color: #fff">Đăng nhập</a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/js_login/main.js"></script>
    <script>
        var fromsubmit = document.forms['form-1']
        const messageDiv = document.getElementById('message');
        Validator({
            form: '#form-1',
            selectform: '.form-group',
            error: ".form-message",
            rules: [
                Validator.isRequired('#username'),
                //  Validator.isRequired('#file'),
                Validator.isEmail('#email'),
                Validator.isPassWord('#password', 8),
                Validator.isConfirmation('#confirmation', function () {
                    return document.getElementById('password').value
                })
            ],
            onSubmit: function (data) {
                $.ajax({
                    url: '/user/register',
                    type: 'POST',
                    data: {
                        username: $('#username').val(),
                        //mã hóa mật khẩu trước khi gửi qua ajax
                        password: CryptoJS.SHA256($('#password').val()).toString(),
                        email: $('#email').val(),
                    },
                }).then(data => {
                    messageDiv.innerHTML = data.message
                })
                    .catch(err => {
                        console.log(err)
                    })
            },
        });
    </script>
</body>

</html>