<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/styleLogin.css">

</head>

<body class="img js-fullheight" style="background-image: url(/img/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Thay đổi mật khẩu</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h5 class="mb-4 text-center">Quản lý vùng trồng</h5>
                        <form action="/user/register" method="POST" class="signin-form" id="form-1">
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control"
                                    placeholder="Mật khẩu">
                                <span class="form-message" id=""></span>
                            </div>
                            <div class="form-group">
                                <input type="password" id="confirmation" id="confirmation" class="form-control"
                                    placeholder="Nhập lại mật khẩu">
                                <span class="form-message" id=""></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Xác Nhận</button>
                            </div>
                            <div class="form-group text-center ">
                                <div id="message" style="color: rgb(255, 255, 255);"></div>
                            </div>
                            <input type="hidden" id="email" name="email" value="{{email}}">
                            <input type="hidden" id="token" name="token" value="{{token}}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="/js/validate.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
<script>
    var fromsubmit = document.forms['form-1']
    var message = document.getElementById('message')
    Validator({
        form: '#form-1',
        selectform: '.form-group',
        error: ".form-message",
        rules: [
            Validator.isPassWord('#password', 8),
            Validator.isConfirmation('#confirmation', function () {
                return document.getElementById('password').value
            })
        ],
        onSubmit: function (data) {
            $.ajax({
                url: '/user/reset',
                type: 'POST',
                data: {
                    token: $('#token').val(),
                    //mã hóa mật khẩu trước khi gửi qua ajax
                    password: CryptoJS.SHA256($('#password').val()).toString(),
                    email: $('#email').val(),
                }
            }).then((data) => {
                message.innerHTML = data.message
            })
                .catch(err => { console.log(err) })
        }
    });
</script>

</html>