{{> header}}
{{>navbar}}
<main id="main" class="main">

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <!-- Card with an image on left -->
                <div class="row ">
                    <div class="card">
                        <div class="card-body">
                            <div class="pagetitle">
                                <h1>{{data.title}} </h1>
                                <a href="/document"> <i class="bi bi-arrow-left-circle-fill" style="font-size:24px">
                                    </i></a>
                            </div><!-- End Page Title -->

                            {{{data.content}}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{> footer}}
