<footer id="footer" class="footer">
    <div class="copyright">
      &copy; Phần mềm quản lý nông nghiệp Lâm Hải  <strong><span> </span></strong>
    <div class="credits">
   
    </div>
  </footer><!-- End Footer -->